h2 {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}
.thanks {
  background-color: #b6b1d8;
  padding: 16px;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
  border-radius: 12px;
}
.buttonback {
  background-color: #b6b1d8;
  text-decoration: none;
  border-radius: 80px;
  padding: 10px;
  margin: 5px;
  display: block;
  width: 20%;
  text-align: center;
  letter-spacing: 1px;
}
